In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
train_data = pd.read_csv("occupancy_train.csv")
test_data = pd.read_csv("occupancy_test.csv")

train_data = train_data.drop(columns=["S.No", 'date', 'Temperature', 'CO2'])
test_data = test_data.drop(columns=["S.NO", 'date', 'Temperature', 'CO2'])

In [6]:
train_data.head()

   Humidity  Light  HumidityRatio  Occupancy
0   27.2720  426.0       0.004793          1
1   27.2675  429.5       0.004783          1
2   27.2450  426.0       0.004779          1
3   27.2000  426.0       0.004772          1
4   27.2000  426.0       0.004757          1

In [7]:
test_data

       Humidity       Light  HumidityRatio  Occupancy
0     26.272000  585.200000       0.004764          1
1     26.290000  578.400000       0.004773          1
2     26.230000  572.666667       0.004765          1
3     26.125000  493.750000       0.004744          1
4     26.200000  488.600000       0.004767          1
...         ...         ...            ...        ...
2660  25.700000  808.000000       0.004829          1
2661  25.736000  809.800000       0.004848          1
2662  25.700000  817.000000       0.004841          1
2663  25.700000  813.000000       0.004849          1
2664  25.681667  798.000000       0.004860          1

[2665 rows x 4 columns]

In [8]:
x_train = train_data.drop(columns=['Occupancy'])
y_train = train_data['Occupancy']

x_test = test_data.drop(columns=['Occupancy'])
y_test = test_data['Occupancy']

In [13]:
results = {}
for i in range(1, 11):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    results[i] = accuracy

print(results)

#for maximum accuraccy
best_ac = max(results.values())
best_k = max(results, key=results.get)
print(f"Best accuracy is {best_ac} for k={best_k}")

{1: 0.9403377110694184, 2: 0.925328330206379, 3: 0.9572232645403377, 4: 0.9448405253283302, 5: 0.9553470919324578, 6: 0.9527204502814259, 7: 0.9632270168855535, 8: 0.9613508442776736, 9: 0.9647279549718574, 10: 0.9647279549718574}
Best accuracy is 0.9647279549718574 for k=9